<header>
  <div class="header-main">
    <div class="logo-title">
      <%= link_to 'シェアハウスルール', root_path %>
    </div>
    <div class="header-list">
      <%= link_to 'マイページ', root_path %>
      <%= link_to '友達を探す', search_users_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</header>