<header>
  <div class="session-header">
    <div class="session-title">
      <%= link_to 'Share House Role', root_path %>
    </div>
    <div class="session-list">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</header>